.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 30rem;
    border-width: 2px;
    border-color: blue;
    border-style: solid;
}
.textFeild{
    width: 40%;
}
.textField2{
    width: 300px;
}