.container {
    width:100;
    align-content: center;
    text-align: center;
}
.button{
    height: 30px;
    width: 100px;
    background-color: blue;
    text-align: center;
    justify-content: center;
    padding: 30px;
    border-radius: 30px;
}