.App {
    padding-right: 30px;
    padding-left: 50px;
}
.heading {
    text-align: center;
}
.address {
    line-height: 5px;
    font-weight: 400;
}
.center{
    text-align: center;
}
.button{
    background-color: aqua;
    width: 100px;
}
.sub{
    margin-left: 100px;
}
