/* //selector */
.App{
    padding-right: 30px;
    padding-left: 50px;
}
.heading {
    text-align: center;
}
.address {
    line-height: 5px;
    font-weight: 400;
}
.addressBlock {
    margin-bottom: 50px;
}
.sub {
    margin-left: 100px;
}

.center {
    text-align: center;
}

.alignRight {
    text-align: end;
}
.bottom {
    background-color: aqua;
    width: 100px;
}