body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont, 'segoe UI','Roboto','oxygen','Ubuntu','Cantarell',
        'Fira sans','Droid sans','Helvetica Neue','sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, monako, Consolas, 'Courier New',
  monospace;
}
